@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
 
mybox {
    margin: 20px 0;
    background-color: aquamarine;
    border: 2px dotted black;
}
.nav
{
    margin-left: auto;
}
.col1 button{
    border: 1px solid black;
    font-size: 40px;
}
.col2
{
    padding: 13px;
    
}
.col1 p
{
    text-align: justify;
}
.container img
{
    border-radius: 50%;
     margin-top: 50px;
}
.icon i{
    margin-right:10px;
    font-size: 20px;
}
.social i{
    margin-right:20px;
    font-size: 25px;
}
.social i:hover{
    color: #BAB9B8;
}
.social{
    margin-top: 35px;
    text-align: center;
}
.social .fa-facebook{
    color: #4267B2;
}
.social .fa-twitter{
    color: #00acee;
}
.social .fa-youtube{
    color: #FF0000;
}
.social .fa-instagram{
    color: #fbad50;
}
.social .fa-skype{
    color: #00aff0;
}
.social .fa-github{
    color: #171515;
}